.cursor
.git
.github
.idea
.next
.turbo
coverage
dist
node_modules
pnpm-store
tmp
*.log
.DS_Store
**/.next
**/.turbo
**/dist
**/node_modules
**/tsconfig.tsbuildinfo
**/*.log
.env
.env.prod
mongo-data
